body{
	background:#eee;
}
#frm{
border:solid gray 1px;
width:20%;
border-radius:5px;
margin:100px auto;
background: white;
padding:10px;

}#btn{
	color:#fff;
	background:#337ab7;
	padding:5px;
	margin-left:45%;
	margin-right:60%;
}
#logoutbtn,#additembtn,#cartbtn,#checkoutbtn{
	color:#fff;
	background:#fff9f7;
	padding:5px;
	width:10%;
	margin-left:90%;
	margin-right:20%;
}
#welcome{
	float:right;
	font-size:25px;
	margin-top:12px;
	
}
#frm2{
border:solid gray 1px;
width:30%;
border-radius:5px;
margin:100px auto;
background: skyblue;
padding:10px;

}
#carttotal{
	overflow:scroll;
}
#header{
	background:skyblue;
	width:100%;
	margin-left:0%;
	margin-top:0%;
	height:10%;
}
#itemimage{
	margin-left:5%;
	float:left;
	padding: 40px 0 0;
}
#itemprice{
	padding :250px 30px 20px;
	float:left;
}
#AddtoCartbtn{
	padding: 300px 40px 20px;
	float:left;
}
 .item1{
	padding: 10px 0px 40px;
    margin-bottom: 15px;
	margin-top:30px;
    height: auto;
	float:left;
	width:30%;
	height:30%;
    z-index: 14;
}
.itemimage{
	margin-left:5%;
	float:left;
	padding: 40px 0 0;
}
.cartitemprice{
	padding :10px 30px 20px;
	float:left;
}

 
.deletecartitem{
	float:left:
	padding:10px 0 0;
}
.itemdesc{
	float:left;
	padding: 40px 50px 30px;
    margin-bottom: 15px;
	margin-top:60px;
	margin-left:200px;
    height: auto;
	float:left;
	
    z-index: 14;
}
